node_modules/
dist/
.vite/
.env.local
.env.*.local
*.tsbuildinfo
*zip

#=== [start] Lth Loi ===
.agents
compress-src.cmd
dev.cmd
.compressignore
PROJECT_CONTEXT.md
test.cmd
b1-visual-preview.html
branches-git.cmd
remotes-git.cmd
#=== [end] Lth Loi ===
